<!DOCTYPE html>
<html ng-app="diceApp">
<head>
    <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script
        src="https://cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js"></script>
    <script src="/js/controllers/dice.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-superhero.min.css'/>
</head>
<body>
<div class="main">
    <div class="content">
        <div class="player-name form-group"
             ng-controller="NameController as nameController">
            <input type="text"
                   class="form-control"
                   ng-model="playerName"
                   placeholder="Меня зовут"
                   name="playerName"/>
        </div>
        <div class="dice"
             ng-controller="DiceSelectionController as diceSelection">
            <div class="buttons">
                <input type="button"
                       class="btn btn-default btn-huge"
                       value="Roll"
                       ng-click="diceSelection.roll()"
                       ng-disabled="diceSelection.rollIsDisabled()"/>
            <input type="button"
                   value="Reset"
                   class="btn btn-default btn-big"
                   ng-click="diceSelection.resetAll()"/>
            </div>
            <div ng-repeat="dieType in diceSelection.types" class="die-type">
                    <img ng-repeat="i in diceSelection.selectedDice(dieType)"
                         ng-src="/images/dice/{{dieType}}.png"
                         ng-click="diceSelection.selectDice(dieType, i)"
                    />
                    <img ng-repeat="i in diceSelection.unselectedDice(dieType)"
                         ng-src="/images/dice/{{dieType}}.png"
                         ng-click="diceSelection.selectDice(dieType, i)"
                         class="unselected"
                    />
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="history" ng-controller="HistoryController as history">
            <div class="last-throw"></div>
            <div class="previous-throws">
                <div class="old-throw"
                     ng-repeat="throwResult in history.throwResults.slice(0).reverse() track by $index">
                    <div class="result-player-name">{{throwResult.playerName}}</div>
                    <div class="die-side"
                         ng-repeat="dieSide in throwResult.rolledSides">
                        <img class="die-background"
                             ng-src="images/dice_backgrounds/{{dieSide.dieName}}.png"/>
                        <div
                            class="die-result-wrap die-result-wrap-{{dieSide.dieName}}">
                            <img class="die-effect"
                                 ng-repeat="effect in dieSide.effects"
                                 ng-src="images/effects/{{effect.basename}}.png"/>
                        </div>
                    </div>
                    <div class="die-effects">
                        <img class="die-effect"
                             ng-repeat="effectName in history.totalEffects(throwResult) track by $index"
                             ng-src="images/effects/{{effectName}}.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>
