body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: black

@mixin vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

a
  color: #00B7FF

.player_list
  background-color: red

.history
  background-color: antiquewhite
  overflow-y: scroll
  height: 200px

.dice
  background-color: gray

.dice img
  user-select: none
  cursor: pointer

.unselected
  opacity: 0.1

$resultDiceSize: 50px

img.die-background
  height: $resultDiceSize
  position: absolute

.die-side
  width: $resultDiceSize
  height: $resultDiceSize
  display: inline-block
  position: relative

img.die-result
  height: $resultDiceSize / 2.3
  position: relative
  text-align: center
  display: block
  margin: auto auto

.die-result-wrap-difficulty img.die-result
  height: $resultDiceSize / 2.8
  position: relative
  top: -2px

.die-result-wrap-challenge img.die-result
  height: $resultDiceSize / 2.4
  position: relative
  left: -1px
  top: -1px

.die-result-wrap
  @include vertical-align()

.history .player-name
  width: 200px
  height: 30px
  text-align: center
  @include vertical-align()
  background-color: navajowhite
  display: inline-block
  vertical-align: middle
  line-height: 30px
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden



