.main
  width: 1024px
  margin: auto

@mixin vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

@mixin sticky_footer($footer-height)
  html, body
    height: 100%
  .main
    min-height: 100%
    overflow-x: hidden
  .content
    padding-bottom: $footer-height
  .footer
    clear: both
    position: relative
    margin-top: $footer-height * -1
    height: $footer-height
    overflow: visible

// Unstick the footer
@mixin unsticky_footer()
  html, body
    height: auto
  .main
    min-height: none
  .content
    padding-bottom: 0
  .footer
    margin-top: 1em
    height: auto

@include sticky_footer(20px)

.footer
  background-color: #485563

.history
  overflow-y: scroll
  height: 400px

.buttons
  float: left

.buttons input
  display: block
  clear: both
  margin: 0.3em

.dice
  text-align: center

.dice img
  user-select: none
  cursor: pointer

.unselected
  opacity: 0.1

$resultDiceSize: 50px

img.die-background
  height: $resultDiceSize
  position: relative

.die-type
  display: inline-block

.die-backgrounds
  position: relative
  display: inline-block

.die-side
  width: $resultDiceSize
  height: $resultDiceSize
  display: inline-block
  position: relative

img.die-result
  height: $resultDiceSize / 2.3
  position: relative
  top: -$resultDiceSize
  text-align: center
  display: block
  margin: auto auto

.die-result-wrap
  @include vertical-align()

.history .player-name
  width: 200px
  height: 100%
  text-align: center
  display: block
  line-height: $resultDiceSize
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  float: left

input.btn-huge
  font-size: 3em
  padding: 1em
  margin: 20px

input.btn-big
  font-size: 2.2em
  padding: 0.5em
  margin: 20px

.old-throw:nth-child(odd)
  background-color: #3A4550

